body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#top{
    /* border: 2px solid; */
    height:20em ;
    width:50% ;
    background-color: rgb(236, 244, 244);
}
#bottom{
    background-color: blueviolet;
    color: white;
    /* border: 2px solid; */
    width:50%
}
.remember,label{
    padding-right: 4em;
}
input{
    background-color: rgb(229, 224, 224);
}
.email,.password{
    padding: 5px;
}
button{
    background-color: blueviolet;
    color: white;
    width: 70%;
    height: 30px;
    border-radius: 20px;
    border: 2px solid white; 
}
