.container{
    
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    gap: 3vh;
}
.column{
    background-color: lightblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    height: 15vh;

}

.two{
   align-self: center;
   height: 30vh;
   width: 70vw;
}